.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    button.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.brand(href='#') socket.io Stress Tester
    .nav-collapse.collapse
      ul.nav
        li: a(href='/') Home
        li: a(href='/sender') Sender
        li: a(href='/receiver') Receiver
        